.sidebaroption {
  cursor: pointer;
  color: grey;
  margin: 1.2rem 1.3rem;
  transition: 200ms color ease-in;
  display: flex;
  align-items: center;
}

.sidebaroption:hover {
  color: white;
}

.sidebaroption__icon {
  margin: 0 0.3rem;
}
